<div class="footer_new  ">
  <div class="fast_link">
    <p>快速链接</p>
    <ul>
      <li><a href="/" target="_blank">首页</a>丨</li>
      <li><a href="<%#= hot_chemicals_products_path %>.html" target="_blank">热销产品</a>丨</li>
      <li><a href="<%#= special_categories_products_path %>.html" target="_blank">管制品类</a>丨</li>
      <li><a href="<%#= factory_direct_supplies_products_path %>.html" target="_blank">厂家直供</a>丨</li>
      <li><a href="/chemical_ai" target="_blank">AI路线设计</a></li>

    </ul>
  </div>
  <div class="terms_of_use">
    <p>使用条款</p>
    <ul>
      <li><a href="<%#= terms_about_us_path %>" target="_blank">协议条款</a>丨</li>
      <li><a href="<%#= privacy_about_us_path %>" target="_blank">隐私条款</a>丨</li>
      <li><a href="<%#= use_rules_about_us_path %>" target="_blank">使用前须知</a>丨</li>
      <% if Time.now < '2018-01-01' %>
        <li><a href="<%#= point_policy_about_us_path %>" target="_blank">积分换购政策</a>丨</li>
      <% end %>

      <li><a href="<%#= real_single_rule_about_us_path %>"  target="_blank" >实单竞标协议与规则</a></li>
    </ul>
  </div>
  <div class="strategic_partner">
    <p>战略合作伙伴</p>
    <ul>
      <!--<li><a href="http://www.pharmaron.com/" target="_blank">康龙化成</a>丨</li>-->
      <!--<li><a href="http://bioduro.com/" target="_blank">北京保诺</a>丨</li>-->
      <!--<li><a href="http://www.bidepharmatech.com" target="_blank">毕得医药</a>丨</li>-->
      <!--<li><a href="http://www.meryer.com" target="_blank">迈瑞尔</a>丨</li>-->
      <!--<li><a href="http://www.jwypharmlab.com.cn/cn/index" target="_blank">杰达维</a></li>-->
      <li><a href="http://www.labnetwork.com/" target="_blank">览博网</a>丨</li>
      <li><a href="http://zh.echemi.com/" target="_blank">第一化学网</a>丨</li>
      <li><a href="<%#= partner_about_us_path %>">更多</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="copyright">
  <div class="left_content">
    <ul class="link" style="width: 350px">
      <li><a href="<%#= about_us_path %>" target="_blank">关于我们</a>丨</li>
      <li><a href="/about_us/buy_novice_guide">新手指引</a>丨</li>
      <li><a href="<%#= media_reports_path %>" target="_blank">媒体新闻</a>丨</li>
      <li><a href="<%#= partner_about_us_path %>" target="_blank" >合作伙伴</a>丨</li>
      <li><a href="https://jobs.51job.com/all/co2505239.html"  target="_blank">加入网化</a>丨</li>
      <li><a href="<%#= contact_us_about_us_path %>" target="_blank">联系我们</a></li>
    </ul>
    <p>
      © 2009-2018 whmall.com 版权所有 ICP证：<a href="http://www.miitbeian.gov.cn" style="color: #c7c7c7;" target="_blank">沪ICP备09033181号-2</a>
      <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202007464 " class="ml10" target="_blank" style="color: #c7c7c7;">
        <img src="/assets/website/ghs.png">
        沪公网安备31011202007464号
      </a>
    </p>

    <p>中国B2B百强企业 上海张江国家自主创新示范区专项发展资金重点项目立项项目</p>
    <div class="auth">
      <a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020170928142810000002091487-SAIC_SHOW_310000-20180709173410515328&signData=MEUCIQCJEt50hGPqcXu7GQ/nY0SeC8W/yb77P+A1SZ8+4E8nZwIgRf6IZOSjdxugbty0xnskNigQib9LpX9CQkySX4sXOaM=" class="mr20" target="_blank">
        <img src="/assets/national_emblem.jpg" style="width: 40px">
      </a>
      <span class="copyright_img img1"></span>
      <!-- <a href="#" class="copyright_img img2"></a>
      <a href="#" class="copyright_img img3"></a> -->
      <a href="https://credit.szfw.org/CX20160316018101130175.html" class="copyright_img img4" target="_blank"></a>
      <a href="http://chinab2b.org.cn/zilvgongyue/show.php?id=32" class="zilvgongyue"  target="_blank"></a>
      <!-- <a href="#" class="copyright_img img5"></a> -->
    </div>
  </div>
</div>
