<div class="topbar">
  <div class="container">
    <div class="topLeft">
      <a href="/" class="home"><i></i>首页</a>

      <% if current_user.blank? %>
          <span id="topbar_greet">亲，欢迎来网化商城!</span>
          <a href="<%= user_session_path %>" class="login">请登录</a>
          <a href="<%= new_user_registration_path %>" class="register">免费注册</a>
      <% else %>
          <span id="topbar_greet"><%= current_user.name %>，欢迎来网化商城!</span>
          <%= link_to destroy_user_session_path ,method: 'delete', class: 'login' do %>
              登出
          <% end %>
      <% end %>
    </div>
    <div class="topRight">
      <a href="" class="vip">会员中心</a>
      <a href="/purchase_license/guide" class="vip">易制毒备案</a>
      <a href="" class="about_us" target="_blank"><img src="/assets/website/icons/about_us.jpg" alt="">关于我们</a>
      <a href="#" <% if params[:controller].include?("user/") || @weibo_hide  %> class="weixin2" <% else %> class="weixin" <% end %> >
        <img src="/assets/website/icons/weixin3.png" alt="">
      </a>
      <a href="#" class="weibo">
        <img src="/assets/website/icons/weibo3.png" alt="">
      </a>
    </div>
  </div>
</div>
