<footer>
  <div class="copyright">
    <div class="left_content">
      <ul class="link" style="width: 350px">
        <li><a href="/about_us.html" target="_blank">关于我们</a>丨</li>
        <li><a href="/about_us/buy_novice_guide.html">新手指引</a>丨</li>
        <li><a href="<%= media_reports_path %>">媒体新闻</a>丨</li>
        <li><a href="<%= partner_about_us_path %>">合作伙伴</a>丨</li>
        <li><a href="https://jobs.51job.com/all/co2505239.html"  target="_blank">加入网化</a>丨</li>
        <li><a href="<%= contact_us_about_us_path %>">联系我们</a></li>
      </ul>
      <p>
        © 2009-2018 whmall.com 版权所有 ICP证：<a href="http://www.miitbeian.gov.cn" style="color: #c7c7c7;" target="_blank">沪ICP备09033181号-2</a>
        <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202007464 " class="ml10" target="_blank" style="color: #c7c7c7;">
          <img src="/assets/website/ghs.png">
          沪公网安备31011202007464号
        </a>
      </p>
      <p>2016年中国B2B企业品牌影响力百强   上海市“科技创新行动计划”科技型中小企业技术创新资金立项项目   中国电子商务协会团体会员</p>
      <div class="auth">
        <a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020170928142810000002091487-SAIC_SHOW_310000-20180709173410515328&signData=MEUCIQCJEt50hGPqcXu7GQ/nY0SeC8W/yb77P+A1SZ8+4E8nZwIgRf6IZOSjdxugbty0xnskNigQib9LpX9CQkySX4sXOaM=" class="mr20" target="_blank">
          <img src="/assets/national_emblem.jpg" style="width: 40px">
        </a>
        <span class="copyright_img img1"></span>
        <!-- <a href="#" class="copyright_img img2"></a>
        <a href="#" class="copyright_img img3"></a> -->
        <a href="https://credit.szfw.org/CX20160316018101130175.html" class="copyright_img img4" target="_blank"></a>
        <a href="http://chinab2b.org.cn/zilvgongyue/show.php?id=32" class="zilvgongyue"  target="_blank"></a>
        <!-- <a href="#" class="copyright_img img5"></a> -->
      </div>
    </div>
  </div>
</footer>
<% content_for :scripts do %>
    <%= javascript_include_tag 'website/js/page/common.js' %>
<% end %>
