<footer class="footer3">
  <div class="container">


    <p class="join">加入网化商城，享受会员权益</p>
    <ul>
      <li>
        <i class="footer3_icon1"></i>
        <p>专属交易员服务</p>
      </li>
      <li>
        <i class="footer3_icon2"></i>
        <p>专属采购服务</p>
      </li>
      <li>
        <i class="footer3_icon3"></i>
        <p>在线推广服务</p>
      </li>
      <li>
        <i class="footer3_icon4"></i>
        <p>价格查询服务</p>
      </li>
      <li>
        <i class="footer3_icon5"></i>
        <p>全程跟单服务</p>
      </li>
    </ul>
    <p class="copyright2">© 2009-2017 whmall.com 版权所有 ICP证：<a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备09033181号-2</a></p>
  </div>
</footer>
